{#
/**
 * @file
 * Default theme implementation for the rating scorer calculator.
 */
#}
<div id="rating-scorer-app" class="rating-scorer-wrapper">
  <div class="rating-scorer-loading">
    {{ 'Loading calculator...'|t }}
  </div>
</div>
