{#
/**
 * @file
 * Default theme implementation for the rating scorer calculator.
 */
#}
<p><strong>{{ 'Note:'|t }}</strong> {{ 'The Bayesian Average algorithm threshold can be customized in the'|t }} <a href="/admin/config/rating-scorer/settings">{{ 'Rating Scorer settings'|t }}</a>.</p>

<div id="rating-scorer-app" class="rating-scorer-wrapper" style="max-width: 100% !important; width: 100% !important; margin: 2rem auto !important; padding: 0 2rem !important; box-sizing: border-box !important;">
  <div class="rating-scorer-loading">
    {{ 'Loading calculator...'|t }}
  </div>
</div>
